<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
	</head>
	<body>
		<h1>site is under maintenance</h1>
		<p>pls visit after some time</p>
	</body>
	{{> footer}}
</html>